@media (min-width: 1376px){
    .chat-room {
        flex: 0 0 auto;
        width: 75%;
    }
}

@media (max-width: 1375px){
    .chat-room {
        flex-shrink: 0;
        width: 100%;
    }
}

#chat {
    background-color: #EBEFF4;
    padding: 1em 1em 2em 1em;
}
.clear-chat-room{
    margin-right: auto;
}
#clear-chat-room-icon{
    display: none;
}
.meet-btn{
    margin-left: auto;
}
#web-meeting-btn{
    display: none;
}
#join-web-meeting-btn{
    display: none;
}
#terminate-web-meeting-btn{
    display: none;
}
.chat-talk {
    overflow: hidden;
    padding: 1em;
    margin: 0.5em 0;
    position: relative;
    overflow: visible;
}
.chat-talk span {
    display: block;
    margin: 0;
    padding: 0;
}
.chat-talk .talk-icon {
    float: left;
    width: auto;
}
.chat-talk .talk-icon img {
    max-width: 100%;
    width: 46px;
    height: 46px;
    vertical-align: bottom;
    border: 2px solid #fff;
    border-radius: 50%;
}
.chat-talk .talk-content {
    position: relative;
    box-sizing: border-box;
    width: auto;
    min-height: 50px;
    border-radius: 10px;
    background-color:aliceblue;
    margin: 21px auto 0 58px;
    padding: 1em;
}
.chat-talk .talk-timestamp {
    margin: 0 auto 0 70px;
    float: right;
    font-size: 0.85em;
}
.chat-talk .talk-user {
    margin-left: 12px;
    float: left;
    font-size: 1em;
    font-weight: bold;
}
.chat-talk.mytalk .talk-content {
    background:rgb(29,161,242);
}
.chat-talk.mytalk .talk-content:before {
    border-right-color: rgb(29,161,242);
}
.chat-talk.mytalk:hover {
    background-color: #fff;
}
.chat-talk.mytalk:hover .chat-actions {
    display: block !important;
}
.chat-actions {
    position: absolute;
    bottom: -30px;
    right: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    display: none !important;
    z-index: 1;
}
.edit-btn, .delete-btn {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}
.edit-btn:hover, .delete-btn:hover {
    background-color: #f0f0f0;
}
#edit-annotation{
    display: none;
}
#attachment{
    display: none;
}
#attachment-preview{
    width: 60px;
    height: 60px;
    display:none;
}
.input-area{
    max-height: 300px;
}
.chat-img{
    width: auto;
    height: 100px;
}
#content{
    height: 54px;
    line-height: 20px;
}